<%= javascript_include_tag 'application.js' %>
<header class="navbar  navbar-fixed-top navbar-default navbar-inverse">

	<div class="container-fluid">
		<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			   <a class="navbar-brand hearer_itch" href="/">たいとる</a>
	</div>

		<div class="collapse navbar-collapse" id="navbarEexample">
			<ul class="nav navbar-nav">
				<li class="active hearer_itch"><a href="/">あたらしい順</a></li>
        <li class="dropdown">
					<a href="#" class="dropdown-toggle hearer_itch" data-toggle="dropdown" role="button">らんきんぐ <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/ranking_week">いちしゅうかん</a></li>
						<li><a href="/ranking_month">いちかげつ</a></li>
						<li><a href="/ranking_year">いちねん</a></li>
					</ul>
				</li>
				<% if signed_in? %>
					<li><a href="#">マイページ</a></li>
					<li><a href="#">投稿一覧</a></li>
					<li><a href="#">ランダム</a></li>
				<% end %>

			</ul>
		<div class="header_right">
			<% if signed_in? %>
  			<%= link_to "ログアウト", destroy_user_session_path, method: "delete", class: "btn btn-lg btn-primary btn-success navbar-btn navbar-right" %>
			<% else %>
				<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
				<%= link_to "Sign in with fasebook", user_facebook_omniauth_authorize_path %>
				<%= link_to "ろぐいん", new_user_session_path, class: "btn btn-lg btn-primary btn-success navbar-btn navbar-right" %>
  			<%= link_to "とうろく", new_user_registration_path, class: "btn btn-lg btn-primary btn-success navbar-btn navbar-right creature_btn" %>
			<% end %>
			<form class="navbar-form navbar-right search_content" role="search">
				<div class="form-group">
					<input type="text" class="form-control " placeholder="きーわーど">
				</div>
				<button type="submit" class="btn btn-default ">けんさく</button>
			</form>

		</div>


		</div>
	</div>
</header>
